<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h2 th:text="${Ques.question}"></h2>
    <form action="verify" id="verify">
        <label for="" th:text="${opt.opt1}">
            <input type="radio" name="opt" th:value="${opt.opt1}">
        </label>
        <label for="" th:text="${opt.opt2}">
            <input type="radio" name="opt" th:value="${opt.opt2}">
        </label>
        <label for="" th:text="${opt.opt3}">
            <input type="radio" name="opt" th:value="${opt.opt3}">
        </label>
        <label for="" th:text="${opt.opt4}">
            <input type="radio" name="opt" th:value="${opt.opt4}">
        </label>
    </form>
    <div>
        <button type="submit" name="submit" th:value="${id}" form="verify">Submit</button>
    </div>
    <div th:if="${flag} == true" >
        <h1 th:text="${message}"></h1>
        <h2 th:text="|Your score is ${score} !!! |"></h2>
    </div>
</body>
</html>