<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 th:if="${isShow}" th:text="${note}">Welcome</h2>
    <div class="menu">
        <form action="menu" method="post">
            <input type="submit" value="Create" name="button" id="">
        </form>
        
        <form action="menu" method="post">
            <input type="submit" value="Edit" name="button" id="">
        </form>
        
        <form action="menu" method="post">
            <input type="submit" value="Display" name="button" id="">
        </form>
        
        <form action="menu" method="post">
            <input type="submit" value="Delete" name="button" id="">
        </form>
    </div>

    

</body>
</html>